* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: linear-gradient(135deg, #c7d2fe, #fecaca);
    height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.todo-container {
    width: 380px;
    background: white;
    padding: 25px;
    border-radius: 16px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.15);
}

.todo-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
}

.input-area {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input {
    flex: 1;
    padding: 12px;
    border-radius: 8px;
    border: 2px solid #ddd;
    outline: none;
}

input:focus {
    border-color: #6366f1;
}

#addBtn {
    padding: 12px 18px;
    background: #6366f1;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#addBtn:hover {
    background: #4f46e5;
    transform: scale(1.05);
}

ul {
    list-style: none;
}

ul li {
    background: #f3f4f6;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

.deleteBtn {
    background: #ef4444;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
}

.deleteBtn:hover {
    background: #dc2626;
}
